.home {
  display: flex;
}
/* homepage.css */
.diagram-container {
  width: 100%;
  height: 500px; /* Adjust the height as needed */
}
.posts{
  flex: 9;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}

/* Reset de estilos básicos para eliminar márgenes y rellenos predeterminados */
body, h1, h2, p, ul, li, button {
  margin: 0;
  padding: 0;
}

/* Estilo global */
body {
  font-family: Arial, sans-serif;
}

/* Encabezado */
header {
  background-color: #1e1e1e;
  color: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  margin-right: 20px;
}

ul li:last-child {
  margin-right: 0;
}

ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Contenido principal */
.hero {

  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 5% 0;
  color: #e92875;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

button {
  background-color: #ff66a3;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 20px;
}

button:hover {
  background-color: #ff66a3;
}



/* Estilo para el campo de entrada */
input[type="text"] {
  width: 200px; /* Ancho del campo de entrada */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde del campo de entrada */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño de fuente */
  outline: none; /* Elimina el resaltado al hacer clic */
  transition: border-color 0.3s; /* Transición suave para el borde */
}

/* Estilo para el campo de entrada cuando se enfoca */
input[type="text"]:focus {
  border-color: #0070d1; /* Cambia el color del borde al enfocar */
  box-shadow: 0 0 5px rgba(0, 112, 209, 0.5); /* Sombra suave al enfocar */
}


/* Estilos para el modal */
.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 41, 42, 0.8); /* Fondo semitransparente */
  z-index: 1;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff; /* Fondo blanco */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #e21f6d; /* Color de texto */
}  